[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
elasticsearch = "*"
requests-aws4auth = "*"
requests = "*"
python-crontab = "*"
termcolor = "*"
boto3 = "*"

[requires]
python_version = "3.7"
